header {

    background-color: rgb(104, 104, 17) ;
}
header{
    padding-bottom: 2rem;
}
header .row .col-md-3.col-sm-12{
    padding-top: 24vmin;
    position:relative; right:9rem;
    font-style: italic;
    font-weight: 200;
    text-emphasis-color: inherit;
    color:whitesmoke;
    font-size:xx-large;
}

main .section1{
    padding:2rem ;

}
main .section1 .row :last-child{
    position: relative;
}

main .section1 .row .col-md-4 .panel{
    position:absolute;
    top:7vmin;
    left: -18vmin;
    background-color: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 2vmin 10vmin;
    box-shadow: 2px rgba(0,0, 0, 0.25);
font-style: italic;
}
.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
  }
  
  .section-4 .team {
    padding: 10vmin 4vmin;
  }
  
  .section-4 .card {
    width: 22em;
    margin-top: 10vmin;
  }
  
  .section-4 .card .card-text {
    padding: 0.5em;
  }
  
  .section-4 .card-body > a {
    font-size: 1.5em;
  }
  
  .section-4 .carousel-item {
    padding-left: 3rem;
  }
footer {
background-color: rgba(0, 0, 0, 0.8);
overflow-x: hidden;
padding: 14vmin 18vmin;
}
footer p > span {
    color: #ff512f;
  }
  footer input {
    border: none !important;
  }
  footer input::placeholder {
    color: white !important;
  }
  
  footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
  }
  
footer .column i + i {
    padding: 0 0.5em;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(253, 250, 250, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
  }
